@font-face {
    font-family: reithsansB;
    src: url(./BBCReithSans_W_Bd.ttf);
  }
  
  @font-face {
    font-family: reithsansR;
    src: url(./BBCReithSans_W_Rg.ttf);
  }

  *:focus{
    border: 1px solid brown;
  }
  
  *, *::after, *::before{
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      font-family: reithsansR;
      font-weight: lighter;
      color: var(--color-text);
    }
    

html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

  body{
    background-color: var(--color-background);
    display: grid;
    width: 100%;
    gap: 1em;
    justify-content: center;
  }

  :root {
    --color-background: #222429;
    --color-text: #FFFFFF;
    --color-text-secundaire: #F0A144;
    --color-section-color: #D9D9D9;
  }


ul{
    list-style: none;
}

a{ 
    text-decoration: none;
}

.active{
    text-decoration: underline;
}


nav:first-of-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 1.5em 2em 1.5em 2em;
    background-color: var(--color-background);
    position: fixed;
}

nav:first-of-type > ul {
    display: none;
}

nav:first-of-type > img {
    width: 2em;
    cursor: pointer;
}

nav:first-of-type > p {
    font-size: 1.3em;
    font-weight: lighter;
    font-family: reithsansB;
}

nav:last-of-type{
    z-index: 100;
    position: fixed;
    background-color: var(--color-background);
    transform: translate(0%, -100%);
    transition: .3s;
    display: none;
    width: 100%;
    top: 0;
    bottom: 0;
}

nav:last-of-type.toonMenu{
    transform: translate(0%, 0%);
    display: flex;
    flex-direction: column;
}

nav:last-of-type div{
    display: flex;
    justify-content: space-between;
    padding: 1.5em 2em 1.5em 2em;
}

nav:last-of-type div p {
    font-size: 1.3em;
    font-weight: lighter;
    font-family: reithsansB;
    display: flex;
    align-self: center;
  }

nav:last-of-type div img{
    width: 2em;
    cursor: pointer;
}

nav:last-of-type ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav:last-of-type ul li{
    display: grid;
    justify-content: center;
    align-items: center;
}

nav:last-of-type ul li a{
    padding: 15vw;
    border-bottom: 1px solid white;
}

nav:last-of-type ul li a:hover{
    text-decoration: underline;
}

footer{
    padding: 2em;
}

footer ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

footer ul:first-of-type{
    padding-bottom: 3em;
}

footer ul li{
    display: grid;
    justify-content: center;
}

footer ul:first-of-type li:first-of-type{
    justify-content: flex-end;
}

footer ul:first-of-type li:last-of-type{
    justify-content: flex-start;
}

footer img{
    width: 5em;
    border-radius: 5em;
}

footer ul li:first-of-type img:hover{
    content: url(../images/icons8-linkedin-481.png);
    cursor: pointer;
}
footer ul li:nth-of-type(2) img:hover{
    content: url(../images/icons8-github-501.png);
    cursor: pointer;
}
footer ul li:last-of-type img:hover{
    content: url(../images/icons8-facebook-481.png);
    cursor: pointer;
}

footer ul:last-of-type li:first-of-type{
    justify-content: flex-start;
}

footer ul:last-of-type li:last-of-type{
    justify-content: flex-end;
}

footer ul:last-of-type li:nth-of-type(2) a{
    text-decoration: underline;
}

footer ul:last-of-type li p{
    text-align: center;
}

main section:last-of-type div:last-of-type:hover p{
    color: var(--color-text-secundaire);
}

main section:last-of-type > p:hover,
main section:last-of-type article > p:hover{
    text-decoration: none;
}

@media (width > 600px){   
    nav:first-of-type > ul{
        display: flex;
        gap: 0.3em;
    }

    nav:first-of-type > img{
        display: none;
    }

    nav:first-of-type > ul li a {
        font-weight: lighter;
    }

    nav:first-of-type > ul li a:hover{
        text-decoration: underline;
    }

    nav:first-of-type > p {
        font-size: 1em;
    }

    nav:last-of-type {
        display: none;
    }
}


@media (width > 1280px){
    nav:first-of-type{
        width: 1280px;
        justify-self: center;
    }

    footer{
        display: grid;
        justify-self: center;
        width: 1280px;
    }
}